.topbanner {

    display: flex;
    justify-content: center;
    border: solid 2px;
    border-color: red;

    margin: 5px;

}


.maincontainer {



    display: flex;
    justify-content: space-between;


    border: solid 2px;
    border-color: blue;
    margin: 5px;



}



.majormetrics_area {

    border: solid 2px;
    border-color: brown;
    margin: 5px;



}



.gobutton_zipcode_area {

    border: solid 2px;
    border-color: aquamarine;
    margin: 5px;

    display: flex;
    flex-direction: column;


}


.personalmetrics_area {

border: solid 2px;
border-color: blueviolet;
margin: 5px;



}



.footer_container {

    border: solid 2px;
    margin: 5px;

    display: flex;
    justify-content: center;


}



.signup_area {

    border: solid 2px;
    border-color: yellowgreen;
    margin: 5px;

    justify-content: center;

}